*{
  font-family: Arial, Verdana, sans-serif;
  color: black;
  text-align: center;
}

body {
  background-image: url(https://i.pinimg.com/originals/b8/4f/ad/b84fadd0e1d07f7748a3a8c0e97ecc9f.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 90%;
  margin: 0 auto;}
#content {
  overflow: auto;}
nav, #feature, footer {
  margin: 1%;}
.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;}
.column3 {
  margin-right: 0%;}
li {
  display: inline;
  padding: 0.5em;}
li.artifact, li.module{
  display: block;
  text-align: left
}
nav, footer {
  background-color: #efefef;
  padding: 0.5em 0;}
#feature, .article {
  height: 10em;
  margin-bottom: 1em;
  background-color: #efefef;}
nav{
  background-color: #6d6d6d;
  border-radius: 5px; 
}
h1{
  font-family: 'CodeNewRomanRegular'; 
  font-weight: normal; 
  font-style: normal;
  color:black;
}
iframe{
  width:40%;
  height:50%;
}
